* {
    margin: 0;
    padding: 0;
}

.hero-content {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6)50%, rgba(0, 0, 0, 0.6)50%), url(mviebackground.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 12px;
    height: 85vh;
}

.buttons .button {
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    background: #e50914;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s;
}

.buttons .button:hover {
    background: #f40612;
}

.main {
    width: 100%;
    height: 100%;
}